{% extends 'base.html' %}
{% load static %}


{% block title %}MAIN PAGE{% endblock %}

{% block content %}
    <div class="content_block">

        <h1 class="main_text">Главная страница приложения Django</h1>

        <hr>

        <p class="secondary_text">
            Это приложение находится в открытом доступе по ссылке: <a href="https://github.com/kuk4si/Diplom_project.git">https://github.com/kuk4si/Diplom_project.git</a>
        </p>

        <div class="info">
            <p>Приложение предназначено для тестирования платформы Docker, сервера Nginx и брандмауэра FW в рамках дипломной работы студента группы СА-19-22 Медведева Андрея.</p>
        </div>
    </div>


{% endblock %}

